<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @image.user %>
</p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
</p>

<%= link_to 'Edit', edit_image_path(@image), { :class=>"btn btn-default" } %>
<%= link_to 'Back', images_path, { :class=>"btn btn-default" } %>
